body {
	margin:0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", sans-serif;
	font-weight: "Thin"; 
	background-color: rgba(242,242,242,1);
}

.light {
	display: block;
}
.dark {
	display: none;
}
.main {
	background-color: rgba(242,242,242,1);
	width:100%;	
	float:left;
}

#awards {
	box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
	margin-top:25px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

#heading {
	font: -apple-system-headline;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", sans-serif;
    font-size: 35pt;
    font-weight: bold;
    margin-bottom: 5.25pt;
}

#appstore_badge {
	background-color: rgba(250,250,250,1);
	border-radius:25px;
}

#appstore_badge:hover {
	background-color: rgba(255,255,255,1);
}

.content {
	width: 70%;
	/*float:left;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

.triGridColumn {

	background-color: rgba(255, 255, 255, 1);
	border-radius: 15px;
}


.headerText {
	width: 70%;
	float:left;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

.contentSpacer {
	width: 40%;
	float:right;
}


#inactive:hover {
	background-color: rgba(250,250,250,1);
}




.content a {
	text-decoration: none;
	color: rgba(20,20,20,1);
}
.content a:hover {
		color: rgba(0,0,0,1);
		border-bottom: 1px solid #000;
}

.content a:visited {
	text-decoration: none;
	color: rgba(20,20,20,1);
}

#lightBody {
	font: -apple-system-body;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", sans-serif;
    font-size: 14pt;
    font-weight: lighter;
    margin-bottom: 31.25pt;
    line-height:1.5;
}

#link {
	font: -apple-system-subtitle;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", sans-serif;
    font-size: 20pt;
    font-weight: regular;
}

#body {
	font: -apple-system-body;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", sans-serif;
    font-size: 15pt;
    font-weight: regular;
    margin-bottom: 31.25pt;
}

.container{
	margin-left:auto;
	margin-right:auto;
	width:76%;
}

#discoverWords {
	background-color: rgba(157,190,211,1);
	color: rgba(255,255,255,1);
}

#discoverWords img {
	width:50%;
}

#collections {
	background-color: rgba(237,163,87,1);
	color: rgba(255,255,255,1);
}

#collections img {
	width:50%;
}


#watch {
	background-color: rgba(158,189,131,1);
	color: rgba(255,255,255,1);
}

.contentGrid .left img {
width:100%;
}

.contentGrid .right img {
width:100%;
}




.header{
	width:100%;
	float:left;
}

.headerImg{
	width:30%;
	float: left;
	margin-left:auto;
	margin-right: auto;
}

.contentGrid{
	width:100%;
	float:left;
	margin-top:1.5%;
}

.triGrid{
	width:100%;
	float:left;
	margin-top:1.5%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
	grid-auto-rows: 1fr;
	grid-row-gap: 30px;
}

.contentGridText {
	width:40%;
	margin-left:auto;
	margin-right:auto;
}

.headerGrid{
	width:100%;
	float:left;
}

.left{
	width:48.5%;
	margin-right:3%;
	float:left;
	padding-bottom:2%;
}

.buttonContainer {

	width:70%;
	margin-left:auto;
	margin-right:auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.right{
	width:48.5%;
	float:right;
}


.threeLeft {
	width:32%;
	margin-right:2%;
	float:left;
	padding-bottom:2%;
}

.threeMid {
	width:32%;
	margin-right:2%;
	float:left;
	padding-bottom:2%;
}

.threeRight {
	width:32%;
	float:right;
	padding-bottom:2%;
}

.footer{
	width:100%;
	background-color: rgba(42,42,42,1);
	float:left;
	margin-top:5%;
	font-size:100%;
}

.footerText{
	padding-top:6%;
	padding-bottom:4%;
	width:80%;
	text-align:right;
	color:#fff;

}

@media (hover: none) {
	
	#body {
		font: -apple-system-body;
	}
	
	#heading {
		font: -apple-system-subtitle;
	}
	
	#lightBody {
		font: -apple-system-body;
	}
	
	#link {
		font: -apple-system-subtitle;
	}
	
} 

@media all and (max-width: 735px) {
	
	.content {

	width: 100%;
	float:left;
	
	}
	
	.headerText {

	width: 100%;
	float:left;
	
	}
	
	#body {
    font-size: 12pt;
	}
	
	#heading {
	
    font-size: 25pt;
}
	
	
#lightBody {

    font-size: 11pt;
    
}
	
	.left {
		width:100%;
		margin-right:0%;
		float:left;
		margin-bottom: 25px;
		padding-bottom:2%;
	}
	
	.right {
		width:100%;
		float:left;
		margin-bottom: 25px;
	}
	
	.headerImg{
		width:80%;
		/*float: left;*/
		margin-left: auto;
		margin-right: auto;
	}
	
	.header {
		margin-top:50px;
	}
	
	.triGrid{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	grid-auto-rows: 0fr;
	}
	
	.contentGridText {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	}
	
.contentGrid img {
	width:80%;
}

#discoverWords img {
	width:80%;
}

#collections img {
	width:100%;
}

.threeLeft {
	width:100%;
	margin-right:0%;
	float:left;
			margin-bottom: 25px;
}

.threeMid {
	width:100%;
	margin-right:0%;
	float:left;
	padding-bottom:2%;
			margin-bottom: 25px;
}

.threeRight {
	width:100%;
	float:right;
			margin-bottom: 25px;
}

.buttonContainer {

	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding-top: 10px;
	padding-bottom: 10px;
	
}


}

@media (prefers-color-scheme: dark) {
	body {
		background-color: rgba(42,42,42,1);	
		color: #FFF;
	}
	.main {
	background-color: rgba(42,42,42,1);
	}
	
	
	.light {
	display: none;
	}
	
	#discoverWords {
		background-color: rgba(85,124,148,0.49);
	}
	
	.triGridColumn {

	background-color: rgba(50, 50, 50, 1);
	border-radius: 15px;
	}
	
#collections {
	background-color: rgba(255,113,0,0.48);
	color: rgba(255,255,255,1);
}

#appstore_badge {
	background-color: rgba(50,50,50,1);
}

#appstore_badge:hover {
	background-color: rgba(55,55,55,1);
}


#watch {
	background-color: rgba(106,139,77,0.49);
	color: rgba(255,255,255,1);
}


.dark {
	display: block;
}

.content a {
	text-decoration: none;
	color: rgba(240, 240, 240, 1);
}
.content a:hover {
		color: rgba(255,255,255,1);
		border-bottom: 1px solid #FFF;
}
